body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}
.github-logo {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    padding-right: 5px;
}
.add-task-field {
    height: 25px;
    margin-right: 5px;
}
.add-task-btn {
    padding-left: 10px;
    padding-right: 10px;
}