body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}
.github-logo {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    padding-right: 5px;
}
.add-task-field {
    height: 25px;
    margin-right: 5px;
}
.add-task-btn {
    padding-left: 10px;
    padding-right: 10px;
}
.projects-and-tasks-row {
    margin-left: -50px;
}
.card {
    cursor: pointer;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}
.task-column {
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    height: 100%;
}
.loading{
    background:url('../img/loading.gif') no-repeat center;
}
#wall h3 {
    text-align: center;
}
.highlight-column {
    border-style: dotted;
    border-color: #DDDCE6;
}